{% extends 'base.html' %}

{% block navActive01 %} active {% endblock %} {# Aqui é definido qual dos links na nav está ativo #}

{% block content %}

<div class="todasHospedagens">
  {% for hospedagem in hospedagens %}
  <div class="cadaHospedagem">
    <ul>
      <li>Estabelecimento: {{ hospedagem.nomeEstabelecimento }}</li>
      <li>Cidade: {{ hospedagem.cidade }}</li>
      <li>Tipo de Estabelecimento: {{ hospedagem.estabelecimento }}</li>
      <li>Capacidade: {{ hospedagem.maximoPessoas }} pessoas</li>
      <li>Possui TV a Cabo? {{ hospedagem.tvCabo }}</li>
      <li>Avaliação: {{ hospedagem.notaAvaliacao }}</li>
      <li>Qualidade do WIFI: {{ hospedagem.qualidadeWifi}}</li>
      <li>Preço por dia: R${{ hospedagem.preco }}</li>
      <li>Está disponível? {{ hospedagem.estaLivre }}</li>
    </ul>
  </div>
  {% endfor %}
</div>

{% endblock %}