{% extends 'base.html' %}

{% block navActive01 %} active {% endblock %} {# Aqui é definido qual dos links na nav está ativo #}

{% block content %}
<div style='text-align:center; margin-bottom:20px;'>
  <h1>Hospedagens</h1>
</div>
<div class="todasHospedagens">
  {% for hospedagem in hospedagens %}
  <div class="cadaHospedagem" onclick = 'reservarHospedagem( {{ hospedagem.id }} )' >
    <ul>
      <li>Estabelecimento: {{ hospedagem.nomeEstabelecimento }}</li>
      <li>Cidade: {{ hospedagem.cidade }}</li>
      <li>Tipo de Estabelecimento: {{ hospedagem.estabelecimento }}</li>
      <li>Capacidade: {{ hospedagem.maximoPessoas }} pessoas</li>
      <li>Possui TV a Cabo? {{ hospedagem.tvCabo }}</li>
      <li>Avaliação: {{ hospedagem.notaAvaliacao }}</li>
      <li>Qualidade do WIFI: {{ hospedagem.qualidadeWifi}}</li>
      <li>Preço por dia: R${{ hospedagem.preco }}</li>
      <li>Está disponível? <span id="disponibilidade{{ hospedagem.id }}">{{hospedagem.estaLivre}}</span></li>
    </ul>
    <p id="naoDisponivel{{ hospedagem.id }}" style="display:none;"> A Hospedagem selecionada não está disponivel</p>
  </div>
  {% endfor %}
  <script type="text/javascript" src="../static/js/index.js"></script>
</div>

{% endblock %}