* {
    padding: 0;
    margin: 0;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
    margin: 0 0 24px 0;
}

nav ul {
    background-color:  gray;
    padding: 0;
    margin:0 ;
    display: inline-flex;
    justify-content: space-between;
}

nav .active {
    background-color: darkgray;
}

nav .direita {
    position: absolute;
    right: 0;
}

nav li {
    list-style: none;
    padding: 8px 4px;
}

nav li:hover {
    background-color: lightgray;
}

nav a {
    padding: 8px 4px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: black;
}



