body {
    background-color: rgb(226, 226, 226);
}

div.todasHospedagens {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}

div.cadaHospedagem {
    width: 350px;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    background: rgb(108, 138, 138);
}

div.cadaHospedagem li {
    list-style: none;
}

div.finalizarReserva {
    text-align: center;
}

div.formularioReservar{
    margin-top: 20px;
}

div.formularioReservar input {
    display: block;
    margin: auto;
}

.errorlist li {
    list-style: none;
}
